# .gcloudignore
.git
.gitignore
node_modules
dist
.env
.env.*
.vscode
.idea
.DS_Store
logs
docs
coverage
.nyc_output
!package.json
!lib/auth/package.json
!lib/db/package.json
!lib/html/package.json
!lib/storage/package.json
