# .gcloudignore
.git
.gitignore
node_modules
dist
.env
.env.*
.vscode
.idea
.DS_Store
logs
docs
coverage
.nyc_output
!package.json
!packages/auth/package.json
!packages/db/package.json
!packages/html/package.json
!packages/storage/package.json
