# Randomization Demo: Shows standalone randomization component
# Demonstrates 5 sequential randomizations

schema_version: 0.1.0
allowRetake: true
initialPageId: intro

pages:
  - id: intro
    components:
      - type: text
        props:
          text: |
            # Randomization Demo

            This demo shows how the standalone `randomization` component assigns participants to experimental conditions.

            You will be randomized 5 times to see random assignment in action.
      - type: buttons
        props:
          buttons:
            - id: start
              text: "Start Randomizations"
              action:
                type: go_to
                target: randomize_1

  - id: randomize_1
    components:
      - type: text
        props:
          text: "## Randomization 1 of 5"
      - type: randomization
        props:
          assignmentType: random
          conditions:
            - A
            - B
          stateKey: condition_1
          showAssignment: true
      - type: buttons
        props:
          buttons:
            - id: next
              text: "Next"
              action:
                type: go_to
                target: randomize_2

  - id: randomize_2
    components:
      - type: text
        props:
          text: "## Randomization 2 of 5"
      - type: randomization
        props:
          assignmentType: random
          conditions:
            - A
            - B
          stateKey: condition_2
          showAssignment: true
      - type: buttons
        props:
          buttons:
            - id: next
              text: "Next"
              action:
                type: go_to
                target: randomize_3

  - id: randomize_3
    components:
      - type: text
        props:
          text: "## Randomization 3 of 5"
      - type: randomization
        props:
          assignmentType: random
          conditions:
            - A
            - B
          stateKey: condition_3
          showAssignment: true
      - type: buttons
        props:
          buttons:
            - id: next
              text: "Next"
              action:
                type: go_to
                target: randomize_4

  - id: randomize_4
    components:
      - type: text
        props:
          text: "## Randomization 4 of 5"
      - type: randomization
        props:
          assignmentType: random
          conditions:
            - A
            - B
          stateKey: condition_4
          showAssignment: true
      - type: buttons
        props:
          buttons:
            - id: next
              text: "Next"
              action:
                type: go_to
                target: randomize_5

  - id: randomize_5
    components:
      - type: text
        props:
          text: "## Randomization 5 of 5"
      - type: randomization
        props:
          assignmentType: random
          conditions:
            - A
            - B
          stateKey: condition_5
          showAssignment: true
      - type: buttons
        props:
          buttons:
            - id: next
              text: "See Results"
              action:
                type: go_to
                target: results

  - id: results
    components:
      - type: text
        props:
          text: |
            # Results

            You have been assigned to the following conditions:

            - **Randomization 1:** {{user_state.condition_1}}
            - **Randomization 2:** {{user_state.condition_2}}
            - **Randomization 3:** {{user_state.condition_3}}
            - **Randomization 4:** {{user_state.condition_4}}
            - **Randomization 5:** {{user_state.condition_5}}

            Each randomization is independent with 50/50 probability for A or B.
      - type: buttons
        props:
          buttons:
            - id: finish
              text: "Finish"
              action:
                type: go_to
                target: end

  - id: end
    end: true
    endRedirectUrl: "https://app.prolific.com/submissions/complete?cc=RAND123"
    components: []
