initialNodeId: intro

nodes:
  - id: intro
    text: |
      Welcome. Please complete this short survey.
    buttons:
      - text: "Begin"
        action:
          type: next
  - id: survey_1
    text: "Pretend survey question"
    buttons:
      - text: "Submit"
        action:
          type: next
  - id: outro
    end: true
    text: "Thanks!"

flow:
  - from: intro
    to: survey_1
  - from: survey_1
    to: outro
